{% for block in section.blocks %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% assign hero-article = articles[block.settings.hero-article] %}

    <article class="item ed-h-post {% if thecycle == 'odd' %}ed-h-post-left{% else %}ed-h-post-right{% endif %}">

        {% unless thecycle == 'odd' %}
            {% if hero-article.image %}
                {% if hero-article.metafields.article.tile_image[0].src %}
                    <figure class="animate edh-post-img">
                        <a href="{{ hero-article.url }}">
                            <img src="{{ hero-article.metafields.article.tile_image[0].src }}" alt="{{ hero-article.metafields.article.tile_image[0].alt }}"
                            srcset="
                            {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=600' }} 600w,
                            {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=900' }} 900w,
                            {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=1200' }} 1200w,
                            {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=2400' }} 2400w
                            "
                            fetchpriority="high"
                            >
                        </a>
                    </figure>
                {% else %}
                    <figure class="animate edh-post-img">
                        <a href="{{ hero-article.url }}">
                            {{hero-article.image | image_url: width: 2400 | image_tag: width: 1240, height: 770, alt: hero-article.image.alt, preload: true, fetchpriority: 'high' }}
                        </a>
                    </figure>
                {% endif %}
                {{ ifNofeaturedImg }}
            {% endif %}
        {% endunless %}


        <div class="edh-post-info">
            <span class="type"><a href="/blogs/{{hero-article.handle | split: '/' | first }}">{{hero-article.handle | split: '/' | first }}</a></span>
            <h3><a href="{{ hero-article.url }}">{{ hero-article.title |truncate: 62 }}</a></h3>
            {% assign checkTagAuthor = '' %}
            {% for tag in hero-article.tags %}
                {% assign words = tag | split: '-'   %}
                {% assign first_word =  words[0] | downcase %}
                {% assign blog_title = blog.title | downcase %}
                {% if first_word == 'author' %}
                    <span class="auther">By {{ words[1] | capitalize }}</span>
                    {% assign checkTagAuthor = true %}
                {% endif %}
            {% endfor %}
            {% if checkTagAuthor == '' %}
                <span class="auther">By {{ hero-article.author | capitalize}}</span>
            {% endif %}
        </div>
        
        {% unless thecycle == 'even' %}
            {% if hero-article.image %}
                {% if hero-article.metafields.article.tile_image[0].src %}
                    <figure class="animate edh-post-img">
                        <a href="{{ hero-article.url }}">
                            <img src="{{ hero-article.metafields.article.tile_image[0].src }}" alt="{{ hero-article.metafields.article.tile_image[0].alt }}"
                                srcset="
                                {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=600' }} 600w,
                                {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=900' }} 900w,
                                {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=1200' }} 1200w,
                                {{ hero-article.metafields.article.tile_image[0].src | append: '&transform=resize=2400' }} 2400w
                                "
                                fetchpriority="high"
                            >
                        </a>
                    </figure>
                {% else %}
                    <figure class="animate edh-post-img">
                        <a href="{{ hero-article.url }}">
                            {{hero-article.image | image_url: width: 2400 | image_tag: width: 1240, height: 770, alt: hero-article.image.alt, preload: true, fetchpriority: 'high' }}
                        </a>
                    </figure>
                {% endif %}
            {% else %}
                {{ ifNofeaturedImg }}
            {% endif %}
        {% endunless %}

    </article>

{% endfor %}