{%- if metafield_image -%}
  <img class="{{ additional_classes }} lazyload" data-src="{{ _image }}" alt="{{ _image.alt }}" fetchpriority="low" loading="lazy" />
{%- elsif original_width or original_height -%}
  {%- assign mobile_width = 767 -%}

  {%- if  _image.alt != blank -%}
    {%- assign image_alt = _image.alt | escape -%}
  {%- else -%}
    {%- assign image_alt = shop.name | escape -%}
  {%- endif -%}

  {%- if original_width -%}
    {%- assign image_width = original_width | plus: 0 -%}

    {%- assign original_size = image_width | times: 2 | append: 'x' -%}

    {%- assign image_src = _image | img_url: original_size -%}

    {%- if image_width > mobile_width -%}
      {%- assign size_small = image_width -%}
    {%- else -%}
      {%- assign size_small = image_width | divided_by: 2 | round -%}
    {%- endif -%}

    {%- assign size_small_src = size_small | append: 'x' -%}

    {%- assign size_medium = image_width | times: 2 -%}
    {%- assign size_medium_src = size_medium | append: 'x' -%}

    {%- assign size_large = image_width | times: 2.5 | round -%}
    {%- assign size_large_src = size_large | append: 'x' -%}
  {%- endif -%}

  {%- if original_height -%}
    {%- assign image_height = original_height | plus: 0 -%}

    {%- assign original_size = image_height | times: 2 | prepend: 'x' -%}

    {%- assign image_src = _image | img_url: original_size -%}

    {%- if image_height > mobile_width -%}
      {%- assign size_small = image_height -%}
    {%- else -%}
      {%- assign size_small = image_height | divided_by: 2 | round -%}
    {%- endif -%}

    {%- assign size_small_src = size_small | prepend: 'x' -%}

    {%- assign size_medium = image_height | times: 2 -%}
    {%- assign size_medium_src = size_medium | prepend: 'x' -%}

    {%- assign size_large = image_height | times: 2.5 | round -%}
    {%- assign size_large_src = size_large | prepend: 'x' -%}
  {%- endif -%}

  <img class="{{ additional_classes }} lazyload"
    data-src="{{ image_src }}"
    data-srcset="
    {{ _image | img_url: size_small_src }} {{-size_small-}}w,
    {{ _image | img_url: size_medium_src }} {{-size_medium-}}w,
    {{ _image | img_url: size_large_src }} {{-size_large-}}w"
    data-aspectratio="{{ _image.aspect_ratio }}"
    data-sizes="auto"
    alt="{{ image_alt }}"
    fetchpriority="low" loading="lazy">
{%- elsif background -%}
  {%- if background_parameters -%}
    <div class="{{ additional_classes }} lazyload" data-bg="url({{ _image | img_url: background_parameters }})" role="img" aria-label="{{ _image.alt | escape }}"></div>
  {%- else -%}
    <div class="{{ additional_classes }} lazyload" data-bg="url({{ _image | img_url: 'master' }})" role="img" aria-label="{{ _image.alt | escape }}"></div>
  {%- endif -%}
{%- elsif _iframe -%}
  <iframe class="{{ additional_classes }} lazyload" data-src="{{ _iframe }}" fetchpriority="low" loading="lazy"></iframe>
{%- else -%}
  <img class="{{ additional_classes }} lazyload" data-src="{{ _image }}" alt="{{ _image.alt }}" fetchpriority="low" loading="lazy" />
{%- endif -%}
