{%- assign __product = variant-selector | default: product -%}

<div class="shutter {% if collection.title == 'Samples' %} sample-shutter {% endif %}" data-template="{{ template.name }}">

    <div class="ctas" style="top: 4px; position: relative;">
        <button type="button" class="close">Close</button>
        {% if collection.title != 'Samples' %} 
        <a class="prod-details" href="{{ __product.url  }}">Product details</a>
      {% endif %}
    </div>

    <div class="shutter-info hidden-sm- hidden-md- hidden-lg-">
        <h3>{{- __product.title | truncatewords: 5, "" -}}</h3>
        <p>{{- __product.description | truncatewords: 10, "..." -}}</p>
    </div>

    {%- assign max = 100 -%}
    {%- assign diff = max | minus: min -%}
    {%- assign random_number = "now" | date: "%N" | modulo: diff | plus: min -%}

    {% if __product.variants.size >= 1 %}
        <div class="color_info {% if __product.tags contains 'show_color_slider' %}slide-enable{% else %}wrap_in{% endif %}" id="color_info_{{ __product.id }}_{{ random_number }}">
            {% assign colorName = '' %}
            {% assign colorHex = '' %}
            {% assign colorTexture = '' %}
            {% assign colorFlag = '' %}
            {% assign colorDescription = '' %}
            {% assign isSizeVariant = false %}
            {% assign maxVariant = 0 %}
            {% assign checkSelectedOption = 0 %}
            {% assign selectedColorName = '' %}
            {% assign selectedColorDescription = '' %}
            {%- assign background_image = '' -%}


            {% for product_option in __product.variants %}
                {% if product_option.inventory_quantity >= 1 and product_option.metafields.visibility.hide != 'true' %}
                    {% assign checkSelectedOption = forloop.index %}
                    {% break %}
                {% endif %}
            {% endfor %}

            {% if checkSelectedOption == 0 %}
                {% assign checkSelectedOption = 0 %}
            {% else %}
                {% assign checkSelectedOption = checkSelectedOption | minus: 1 %}
            {% endif %}

            {% for product_option in __product.options_with_values %}
                {% for value in product_option.values %}

                    {% if product_option.name == 'Color' %}
                        {% assign maxVariant = product_option.values.size %}

                        <div class="opt  {% unless __product.variants[forloop.index0].inventory_quantity == 0 %}opt--available{% endunless %}">

                            {% for variant in __product.variants %}
                                {% unless variant.metafields.visibility.hide %}
                                    {% if variant.metafields.color.name == value %}
                                        {% assign colorHex = variant.metafields.color.hex %}
                                        {% assign colorFlag = variant.metafields.flag.title %}
                                        {% assign originalColorName = variant.metafields.color.name %}
                                        {% assign colorName = originalColorName | split : "/" %}
                                        {% assign colorDescription = variant.metafields.description.value %}
                                        {%- if variant.metafields.color.texture %}
                                            {%- assign background_image = "url('"| append:variant.metafields.color.texture[0].src|append:"')"-%}
                                        {% else %}
                                            {%- assign background_image = "none"-%}
                                        {%- endif -%}
                                        <span style="display: none;" id="color-{{ colorName[0] | replace: ' ','-' }}-{{ __product.id }}-{{ random_number }}">
                                            <p class="color__name">{{ originalColorName }}</p>
                                            <p class="color__description">{{ colorDescription }}</p>
                                        </span>

                                        <!--- get available variant information  --->
                                        {% if __product.variants[checkSelectedOption].option1 == value %}
                                            {% assign selectedColorName = originalColorName %}
                                            {% assign selectedColorDescription = colorDescription %}
                                        {% endif %}
                                        <!--- end get available variant information  --->
                                    {% endif %}
                                {% endunless %}
                            {% endfor %}

                            {% unless colorName == '' %}
                                <div class="color_radio productOption special_txt">
                                    {% assign splitName = value |split: "/" %}
                                    {%- assign radio_id = value | replace: ' ','-' | append: '-' | append: __product.id | append: '-' | append: random_number -%}
                                    {%- assign option_name = product_option.name | append: '-' | append: __product.id | append: '-' | append: random_number -%}
                                    <input 
                                      type="radio" 
                                      style="display: none;" 
                                      name="{{ option_name }}"
                                      value="{{ splitName[0] }}"
                                      {% if __product.variants[checkSelectedOption].option1 == value %} checked  {% endif %}
                                      data-pid="{{ __product.id }}-{{ random_number }}"
                                      data-type="{{ product_option.name }}"
                                      data-cno="{{ forloop.index }}"
                                      data-product-id={{__product.id}}
                                      data-id="{{ radio_id }}"
                                      id="{{ splitName[0] | replace: ' ','-' }}-{{ __product.id }}-{{ random_number }}"
                                      class="{{ option_name }} color_variant_selector"
                                      data-inventory-quantity="{{ __product.variants[forloop.index0].inventory_quantity }}"
                                    >
                                        <label for="{{ splitName[0] | replace: ' ','-' }}-{{ __product.id }}-{{ random_number }}" style="background-color:{{colorHex}}; background-image:{{background_image}}">
                                        {% assign getVariantIndex = forloop.index | minus: 1 %}
                                        {% unless __product.variants[getVariantIndex].metafields.visibility.coming_soon %}
                                            {% if __product.variants[getVariantIndex].inventory_quantity < 1 %}
                                                <svg class="variant-notavailable-strike" viewBox="0 0 100 100">
                                                    <line x1="0" y1="100" x2="100" y2="0"></line>
                                                </svg>
                                            {% endif %}
                                        {% endunless %}
                                        <span>{{ colorFlag }}</span>
                                    </label>
                                </div>
                            {% endunless %}
                        </div>
                    {% endif %}

                    {% if product_option.name == 'Size' %}
                        {% assign isSizeVariant = true %}
                    {% endif %}

                    {% assign colorName = '' %}
                {% endfor %}

            {% endfor %}

        </div>

    {% if __product.tags contains 'show_color_slider' %}
        <form class="rangeSlider hide">
            <input class="scroll-range" min="1" max="{{ maxVariant }}" value="{{ checkSelectedOption }}" id="scroll-range_{{ __product.id }}-{{ random_number }}" type="range" />
        </form>

        <script>
            $(document).ready(function() {
                var getLength = $('#color_info_{{ __product.id }}_{{ random_number }} .color_radio').length;

                if (getLength >= 3){
                  var scroll = document.getElementById('scroll-range_{{ __product.id }}-{{ random_number }}');
                  scroll.oninput = function () {
                      var panel = document.getElementById('color_info_{{ __product.id }}_{{ random_number }}');
                      /// color selection according to slider movement and trigger this filed ///
                      var color_value = $(this).parent().parent().find('.color_radio').find('input[data-cno="' + this.value + '"]').attr('value');
                      color_value = (color_value.replace(/ /g,"-"));
                      $(this).parent().parent().find('.color_radio').find('input[data-cno="' + this.value + '"]').trigger('click');
                      $('#'+color_value+'-{{ __product.id }}').prop('checked', true);
                      var total = panel.scrollWidth - panel.offsetWidth;
                      if (getLength > 3 && getLength < 8) {
                           var percentage = this.value * (total / getLength);
                           percentage < 23 ?  panel.scrollLeft = 0 : panel.scrollLeft = percentage;
                      } else if (getLength >= 8 ) {
                          var percentage = this.value * (total / getLength);
                          percentage < 60 ?  panel.scrollLeft = 0 : panel.scrollLeft = percentage;
                      }
                  }
                  $('#scroll-range_{{ __product.id }}-{{ random_number }}').parent().removeClass('hide');
                }

                $('.color_radio.productOption').click(function () {
                  const variantInput = $(this).children('input');
                  var variant_value   =  ($(this).find(':checked').val()) ?  $(this).find(':checked').val() : $(this).val();
                  var product_id      =  ($(this).find(':checked').attr('data-pid')) ? $(this).find(':checked').attr('data-pid') : $(this).attr('data-pid');

                  if(variant_value != '' && product_id != undefined ) {
                    if (variantInput) {
                      const inventoryQuantity = variantInput.data('inventory-quantity');
                      const addToCart = $('#sub_{{ __product.id }}-{{ random_number }}');
                      const priceSpan = $('#variant_price_{{__product.id}}-{{random_number}}');
                    
                      if (inventoryQuantity <= 0) {
                        addToCart.val('Out Of Stock');
                        addToCart.prop('disabled', true);
                        addToCart.addClass('variant-notavailable-button');
                        priceSpan.addClass('variant-notavailable-span');
                      } else {
                        addToCart.val('Add to Bag');
                        addToCart.prop('disabled', false);
                        addToCart.removeClass('variant-notavailable-button');
                        priceSpan.removeClass('variant-notavailable-span');
                      }
                    }
                  }
                });
            });
        </script>
        {% endif %}
    {% endif %}

    <div class="variant_info" id="variant_info_{{ __product.id }}-{{ random_number }}">
        <p class="color__name">{{ selectedColorName }}</p>
        <p class="color__description">{{ selectedColorDescription }}</p>
    </div>

    <div class="cart_actions">
        {% if __product.variants.size >= 1 %}
            <div class="variants_size {% if isSizeVariant == false or section.settings.hide-variant == true %}  hide-variant-size {% endif %}" id="variants_size_{{ __product.id }}">
                <select name="Size" class="selectStyled productOption Size-{{ __product.id }}-{{ random_number }}" data-pid="{{ __product.id }}-{{ random_number }}" id="Size-{{ __product.id }}-{{ random_number }}" >
                    {% for product_option in __product.options_with_values %}
                        {% for value in product_option.values %}
                            {% if product_option.name == 'Size'%}
                                <option value="{{ value }}" {% if __product.variants[checkSelectedOption].option2 == value %} selected {% endif %} >{{ value }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if __product.variants.size > 1 %}
            <select name="id" id="variantSelectMain_{{ __product.id }}" class="product-form__variants no-js" style="display: none;">
                {% for variant in __product.variants %}
                    {% assign splitTitle = variant.title |split: "/" %}
                    {% if variant.metafields.visibility.coming_soon %}
                        <option {% if variant.title == __product.variants[checkSelectedOption].title %} selected="selected" {% endif %} value="{{ variant.id }}" data-product-id="{{ __product.id }}" data-variant-title="{{ splitTitle[0] }} - Coming Soon">{{ variant.title }} - Coming Soon</option>
                    {% elsif variant.available %}
                        <option {% if variant.title == __product.variants[checkSelectedOption].title %} selected="selected" {% endif %} value="{{ variant.id }}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-product-id="{{ __product.id }}" data-variant-title="{{ splitTitle[0] }}" data-variant-delayed="{{ variant.metafields.delay.delayed | default: false }}">
                            {{ variant.title }}
                        </option>
                    {% else %}
                        <option {% if variant.title == __product.variants[checkSelectedOption].title %} selected="selected" {% endif %} value="{{ variant.id }}" data-product-id="{{ __product.id }}" data-variant-title="{{ splitTitle[0] }} - {{ 'products.product.sold_out' | t }}">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}

        <!--- form put in capture b/c this can be handle from both condition js/liquid--->

        {% capture showform %}
            <span id="variant_price_{{ __product.id }}-{{ random_number }}"
                  class="var_price
                    {% if __product.variants[checkSelectedOption].metafields.visibility.coming_soon %}
                        variant-notavailable-span p1
                    {% elsif __product.variants[checkSelectedOption].inventory_quantity <= 0 %}
                        variant-notavailable-span p0
                    {% endif %}
                    ">
                {% unless __product.variants[checkSelectedOption].metafields.visibility.coming_soon %}
                    {% if __product.variants[checkSelectedOption].inventory_quantity > 0 %}
                        {%- if __product.variants[checkSelectedOption].compare_at_price and localization.country.iso_code != 'GB' -%}
                            <span class="sr-only">Original price: </span>
                            <span class="{% if __product.variants[checkSelectedOption].compare_at_price %}
                        compare___{{ __product.variants[checkSelectedOption].id }}
                    {% endif %}">{{- __product.variants[checkSelectedOption].compare_at_price | money_without_trailing_zeros -}}</span>
                        {%- endif -%}
                        <span class="sr-only">Current price: </span>
                        {{- __product.variants[checkSelectedOption].price | money_without_trailing_zeros -}}
                    {% endif %}
                {% endunless%}
            </span>
            

            <form method="post" action="/cart/add" onsubmit="return false;" class="product_form {% if __product.variants[checkSelectedOption].metafields.visibility.coming_soon %} coming-soon{% elsif __product.variants[checkSelectedOption].inventory_quantity <= 0 %} unavailable{% endif %}">
                <input 
                    type="hidden" 
                    name="id" 
                    id="variant_id_{{ __product.id }}-{{ random_number }}"
                    class="variant_id_{{ __product.id }}"
                    value="{{ __product.variants[checkSelectedOption].id }}"
                    data-product-handle="{{ __product.handle }}"
                />
                <input 
                    type="hidden" 
                    value="{{ __product.options.size }}" 
                    id="p_t_v_{{__product.id}}-{{ random_number }}">
                <input type="submit" id="sub_{{ __product.id }}-{{ random_number }}" {% if __product.variants[checkSelectedOption].metafields.visibility.coming_soon %} value="Coming Soon" disabled {% elsif __product.variants[checkSelectedOption].inventory_quantity <= 0 %} value="Out Of Stock" disabled {% else %} value="Add to Bag" {% endif %} class="add_btn  add-to-cart-button add-to-cart-button_{{__product.id}}" 
                  data-purchase-id={{__product.variants[checkSelectedOption].id}} onclick="pintrk('track', 'addtocart', {
                    value: {{__product.selected_or_first_available_variant.price | money_without_currency }},
                    product_name: '{{__product.title}}',
                    product_id: '{{__product.id}}',
                    product_price: {{__product.selected_or_first_available_variant.price | money_without_currency }},
                    currency: 'USD'
                  });"
                />
                {% if __product.metafields.product.custom_message %}
                    <input type="hidden" name="properties[custom_message]" value="{{ __product.metafields.product.custom_message }}" >
                {% endif %}

            </form>
        {% endcapture %}

        {% assign coming_soon_uk = false %}
        {% if __product.tags contains 'coming_soon_UK' and localization.country.iso_code == 'GB' %}
            {% assign coming_soon_uk = true %}
        {% endif %}

        <div id="hash_{{ __product.id }}" class="price_btn {% if shop.metafields.globals.coming_soon == 'true' or __product.metafields.product.coming_soon or coming_soon_uk  %} have_coming__btn {% endif %}">
            {% if shop.metafields.globals.coming_soon != 'true' and __product.metafields.product.coming_soon != 'true' and coming_soon_uk != true  %}
                {{ showform }}
            {% else %}
                <input type="submit"  value="Coming Soon" class="add_btn" disabled/>
            {% endif %}
        </div>

        <script>
            var hash_localstorage = localStorage.getItem('email_hash');
            var hash_comingsoon = `{{ shop.metafields.globals.coming_soon }}`;
            var hash_metafield = `{{ shop.metafields.globals.hash }}`;
            if (hash_localstorage == hash_metafield && hash_comingsoon) {
              var getId = $('#hash_{{ __product.id }}');
              var putdata = `{{ showform }}`;
              getId.html(putdata);
            }
        </script>
    </div>

</div>
