{% assign css_class = section.settings.title | replace: ' ', '_' | downcase %}
{% assign scroll_id = section.settings.scroll_id | downcase %}
{% assign scroll_id = scroll_id | replace: ' ', '-'  %}

<section class="{{css_class}} abt-dyn-s-4" id="{{ scroll_id }}">
    <div class="container section__item section_spacing">
        <h2 class="heading-with-link">{{ section.settings.title }} </h2>
        <hr class="section__divider" />
        {% if section.settings.top_description != blank %}
          <div class="desc">
            {{ section.settings.top_description }}
          </div>
        {% endif %}
      
      
        <div class="beauty-sect-specs">
            <div class="beauty-sect-specs-c">
                <div class="s-wrap">
                    {% for block in section.blocks %}
                        <div class="s-col">
                            {% assign mkId = block.settings.section_title | downcase %}
                            {% assign mkId = mkId | replace: ' ', '-'  %}
                            <p>{{ block.settings.section_link_label }}</p>
                            <h3><a href="{{ section.settings.button_link }}#{{ mkId }}">{{ block.settings.section_title }}</a></h3>
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
        <hr class="section__divider">



    </div>

    <div class="container no-pad-mobile">
        {% if section.settings.image %}<a class="mobile-frame" href="{{ section.settings.redirect_link }}">{% endif %}
            <div class="iframe-container fade-scroll">
                {% if section.settings.image %}
                {{section.settings.image | image_url: width: 2400 | image_tag: width: 1350, class: 'responsive-iframe', alt: section.settings.image.alt, fetchpriority: 'low', loading: 'lazy' }}
                {% elsif section.settings.video_url.type == 'youtube' %}
                <iframe  class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/{{section.settings.video_url.id}}?playlist={{section.settings.video_url.id}}&loop=1&autoplay=1&mute=1" title="{{section.settings.title}}" fetchpriority="low" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% elsif section.settings.video_url.type == 'vimeo' %}
                <iframe  class="responsive-iframe" width="560" height="315" src="https://player.vimeo.com/video/{{section.settings.video_url.id}}" title="{{section.settings.title}}" fetchpriority="low" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% elsif section.settings.custom_video_url %}
                <video
                        id=""
                        loop
                        muted
                        autoplay
                        preload="auto"
                        width="100%"
                        height="100%"
                        playsinline="true" webkit-playsinline="true"
                        data-setup='{"width": 300, "height": 250}' class="responsive-iframe">
                    <source src="{{ section.settings.custom_video_url }}" type='video/mp4' /></video>
                    {% endif %}
              
                  <div class="live_text">
                  {% if section.settings.live_text_1 != blank %}<h3>{{ section.settings.live_text_1 }}</h3>{% endif %}
                  {% if section.settings.live_text_2 != blank %}<h3>{{ section.settings.live_text_2 }}</h3>{% endif %}
                  </div>
            </div>
        {% if section.settings.image %}</a>{% endif %}
    </div>  
</section>

<style>
  
  .abt-dyn-s-4 .beauty-sect-specs .s-wrap .s-col a {
    text-decoration: none;
  }

  .abt-dyn-s-4 .beauty-sect-specs .s-wrap .s-col h3 {
    line-height: 1.43;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: underline;
  }
  
    hr.divider--start{
        padding-bottom: 1.8rem;
    }

    .about-section4 hr.section__divider {
      padding-bottom: 30px;
      margin-top: 10px;
  }
    .about-section4 .section__item p {
      margin-bottom: 30px;
  }


    .abt-dyn-s-4 .desc{
    width: 50%;
    }
    .abt-dyn-s-4 .iframe-container{
        margin: 30px 0 30px 0;
        padding-top:56.2%;
    }
    .abt-dyn-s-4 img.responsive-iframe,.abt-dyn-s-4 video.responsive-iframe{
        object-fit: cover;
        object-position: center;
    }

    .abt-dyn-s-4 .beauty-sect-specs .s-wrap{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        margin-left:-45px;
    margin-right:-45px;

    }

    .abt-dyn-s-4  .beauty-sect-specs .s-wrap .s-col{
        padding:0 45px;
    width:auto;

    }

    .abt-dyn-s-4  .beauty-sect-specs .s-wrap .s-col p {
        margin-bottom:5px;
    }
  
  	.bottom_desc{
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 30px;
    }
  	.bottom_desc .desc{
      width:70%;
    }
  	.bottom_desc h3{
      margin-bottom:3px;
    }
  	.bottom_desc p{
      margin-bottom:0px;
    }
  
 	.live_text{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  	.live_text > *{
      flex:1 0 auto;
      font-size:21px;
      letter-spacing:1.5px;
      margin-bottom:0px;
      color:{{ section.settings.live_text_color }};
      min-width: 50%;
    }

    @media (max-width:1023px){
        .abt-dyn-s-4 .beauty-sect-specs .s-wrap{
margin-left:-25px;
margin-right:-25px;
}
.abt-dyn-s-4  .beauty-sect-specs .s-wrap .s-col{
padding:0 25px;
  /* width:33.3%; */
} 
    }

    @media (max-width:767px){
        .abt-dyn-s-4 .desc{
    width: 100%;
    }
        .brand_pillars .mobile-frame {
            margin-left: -20px;
            margin-right: -20px;
            display: block;
        }

    .brand_pillars .desc {
    width: 100%;
}
        .abt-dyn-s-4 .iframe-container{
            margin: 30px 0 28px 0;
            /* padding-top:100%; */
        }

        .abt-dyn-s-4 .beauty-sect-specs {

            overflow-x: auto;
            margin-right: -20px;

        }

        .abt-dyn-s-4 .beauty-sect-specs-c {

            width:767px;
            width: max-content;
        }
        .abt-dyn-s-4 .beauty-sect-specs .s-wrap{

margin-left:-15px;
margin-right:-15px;
  
}
.abt-dyn-s-4  .beauty-sect-specs .s-wrap .s-col{
padding:0 15px;
  
} 


    }
</style>

{% schema %}
    {
    "name": "Section 4",
    "class": "about-section4",
    "settings": [
    {
    "type": "text",
    "id": "scroll_id",
    "label": "Section ID",
    "info": "Use this field to insert the ID to link with the nav items and enable scroll to this section."
    },
    {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Brand Pillars"
    },
    {
    "type": "richtext",
    "id": "top_description",
    "label": "Top Description",
    "default": "<p>Brand Pillars</p>"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "text",
    "id": "live_text_1",
    "label": "Live text 1",
    "default": "Extra"
    },
    {
    "type": "text",
    "id": "live_text_2",
    "label": "Live text 2",
    "default": "Ordinary"
    },
    {
    "type": "color",
    "id": "live_text_color",
    "label": "Live text Color",
    "default": "#ffffff"
    },
    {
    "id": "video_url",
    "type": "video_url",
    "label": "Video URL",
    "accept": ["youtube", "vimeo"]
    },
    {
    "type": "text",
    "id": "custom_video_url",
    "label": "Custom Video Url"
    },
    {
    "type": "url",
    "id": "redirect_link",
    "label": "Redirect link"
    }
    ],
    "blocks" : [
    {
    "type": "slide",
    "name": "Section",
    "settings": [
    {
    "type": "url",
    "id": "section_link",
    "label": "Section Link"
    },
    {
    "id": "section_link_label",
    "type": "text",
    "label": "Link Label"
    },
    {
    "type": "text",
    "id": "section_title",
    "label": "Section Title"
    }]}],
    "presets": [
    {
    "name": "Beauty In Being",
    "category": "Text"
    }
    ]
    }
{% endschema %}